.b-r-o-n-z-e-g-u-e-s-tthq-exclude57795-container {
  min-height: 100vh;
}
.b-r-o-n-z-e-g-u-e-s-tthq-exclude57795-dummy-container {
  width: 100%;
  height: 900px;
  max-width: 1440px;
}
.b-r-o-n-z-e-g-u-e-s-tthq-exclude57795-text {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 288px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.b-r-o-n-z-e-g-u-e-s-tthq-exclude57795-text1 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 700px;
  font-stretch: normal;
  text-decoration: none;
}
