.exporttocodeerrorsdeletemeanytime57981-container {
  min-height: 100vh;
}
.exporttocodeerrorsdeletemeanytime57981-exporttocodeerrorsdeletemeanytime57981 {
  width: 535px;
  height: 47px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 535px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.exporttocodeerrorsdeletemeanytime57981-image {
  top: 0px;
  left: 0px;
  width: 535px;
  height: 47px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
