.mac-book-pro16k-z-z27439-container {
  min-height: 100vh;
}
.mac-book-pro16k-z-z27439-mac-book-pro16k-z-z27439 {
  width: 1728px;
  height: 1117px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1728px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16k-z-z27439-image {
  top: 0px;
  left: 0px;
  width: 1728px;
  height: 1117px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16k-z-z27439-top27441 {
  top: 36px;
  left: 0px;
  width: 1728px;
  height: 136px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16k-z-z27439-text {
  top: 8px;
  left: 110px;
  color: rgba(38, 38, 38, 1);
  width: 423px;
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Pacifico;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16k-z-z27439-text01 {
  color: rgba(38, 38, 38, 1);
  width: 423px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16k-z-z27439-image1 {
  top: 31px;
  left: 14px;
  width: 96px;
  height: 73px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16k-z-z27439-signoutframe27446 {
  top: 47px;
  left: 1633px;
  width: 48px;
  height: 64px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.mac-book-pro16k-z-z27439-navlink {
  display: contents;
}
.mac-book-pro16k-z-z27439-image2 {
  top: 0px;
  left: 3px;
  width: 41px;
  height: 41px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16k-z-z27439-text02 {
  top: 50px;
  left: 0px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16k-z-z27439-text03 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16k-z-z27439-downframe27449 {
  top: 972px;
  left: 0px;
  width: 1728px;
  height: 145px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: var(--dl-color-fuschia-1007b1b5);
}
.mac-book-pro16k-z-z27439-text04 {
  top: 121px;
  left: 12px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16k-z-z27439-text05 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16k-z-z27439-qs27558 {
  top: 368px;
  left: 110px;
  width: 1407px;
  height: 224px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16k-z-z27439-enter27454 {
  top: 172px;
  left: 807px;
  width: 290px;
  height: 48px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: var(--dl-color-fuschia-1007b1b5);
}
.mac-book-pro16k-z-z27439-text06 {
  top: 10px;
  left: 114px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16k-z-z27439-text07 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16k-z-z27439-question27461 {
  top: 0px;
  left: 0px;
  width: 1097px;
  height: 99px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16k-z-z27439-text08 {
  top: 29px;
  left: 223px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16k-z-z27439-text09 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16k-z-z27439-text10 {
  top: 22px;
  left: 1151px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16k-z-z27439-text11 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16k-z-z27439-text12 {
  top: 168px;
  left: 1151px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16k-z-z27439-text13 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16k-z-z27439-image3 {
  top: 172px;
  left: 0px;
  width: 456px;
  height: 48px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16k-z-z27439-text14 {
  top: 185px;
  left: 29px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16k-z-z27439-text15 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16k-z-z27439-svg {
  top: 265px;
  left: 110px;
  width: 37;
  height: 37;
  position: absolute;
}
.mac-book-pro16k-z-z27439-svg01 {
  top: 265px;
  left: 155px;
  width: 37;
  height: 37;
  position: absolute;
}
.mac-book-pro16k-z-z27439-svg02 {
  top: 265px;
  left: 200px;
  width: 37;
  height: 37;
  position: absolute;
}
.mac-book-pro16k-z-z27439-svg03 {
  top: 265px;
  left: 245px;
  width: 37;
  height: 37;
  position: absolute;
}
.mac-book-pro16k-z-z27439-svg04 {
  top: 265px;
  left: 110px;
  width: 37;
  height: 37;
  position: absolute;
}
.mac-book-pro16k-z-z27439-svg05 {
  top: 265px;
  left: 200px;
  width: 37;
  height: 37;
  position: absolute;
}
.mac-book-pro16k-z-z27439-svg06 {
  top: 265px;
  left: 245px;
  width: 37;
  height: 37;
  position: absolute;
}
.mac-book-pro16k-z-z27439-svg07 {
  top: 265px;
  left: 335px;
  width: 37;
  height: 37;
  position: absolute;
}
.mac-book-pro16k-z-z27439-svg08 {
  top: 265px;
  left: 290px;
  width: 37;
  height: 37;
  position: absolute;
}
.mac-book-pro16k-z-z27439-svg09 {
  top: 265px;
  left: 380px;
  width: 37;
  height: 37;
  position: absolute;
}
.mac-book-pro16k-z-z27439-svg10 {
  top: 265px;
  left: 425px;
  width: 37;
  height: 37;
  position: absolute;
}
.mac-book-pro16k-z-z27439-svg11 {
  top: 265px;
  left: 470px;
  width: 37;
  height: 37;
  position: absolute;
}
.mac-book-pro16k-z-z27439-svg12 {
  top: 265px;
  left: 515px;
  width: 37;
  height: 37;
  position: absolute;
}
