.mac-book-pro16dashboard-silver-user57883-container {
  min-height: 100vh;
}
.mac-book-pro16dashboard-silver-user57883-mac-book-pro16dashboard-silver-user57883 {
  width: 1728px;
  height: 1117px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1728px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16dashboard-silver-user57883-image {
  top: 0px;
  left: 0px;
  width: 1728px;
  height: 1117px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16dashboard-silver-user57883-image01 {
  top: 36px;
  left: 0px;
  width: 1728px;
  height: 136px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16dashboard-silver-user57883-text {
  top: 44px;
  left: 110px;
  color: rgba(38, 38, 38, 1);
  width: 423px;
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Pacifico;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text01 {
  color: rgba(38, 38, 38, 1);
  width: 423px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-downframe57887 {
  top: 972px;
  left: 0px;
  width: 1728px;
  height: 145px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: var(--dl-color-fuschia-1007b1b5);
}
.mac-book-pro16dashboard-silver-user57883-text02 {
  top: 121px;
  left: 12px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text03 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-image02 {
  top: 67px;
  left: 14px;
  width: 96px;
  height: 73px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16dashboard-silver-user57883-signoutframe57891 {
  top: 83px;
  left: 1633px;
  width: 48px;
  height: 64px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.mac-book-pro16dashboard-silver-user57883-navlink {
  display: contents;
}
.mac-book-pro16dashboard-silver-user57883-image03 {
  top: 0px;
  left: 3px;
  width: 41px;
  height: 41px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16dashboard-silver-user57883-text04 {
  top: 50px;
  left: 0px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text05 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-image04 {
  top: 326px;
  left: 110px;
  width: 463px;
  height: 614px;
  position: absolute;
  object-fit: cover;
  border-color: rgba(192, 192, 192, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16dashboard-silver-user57883-text06 {
  top: 865px;
  left: 496px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text07 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text08 {
  top: 779px;
  left: 481px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text09 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text10 {
  top: 508px;
  left: 148px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text11 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text12 {
  top: 484px;
  left: 148px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text13 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text14 {
  top: 779px;
  left: 148px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text15 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text16 {
  top: 865px;
  left: 148px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text17 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-image05 {
  top: 198px;
  left: 110px;
  width: 463px;
  height: 92px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16dashboard-silver-user57883-image06 {
  top: 329px;
  left: 643px;
  width: 990px;
  height: 67px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16dashboard-silver-user57883-image07 {
  top: 412px;
  left: 643px;
  width: 990px;
  height: 67px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16dashboard-silver-user57883-text18 {
  top: 349px;
  left: 681px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text19 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text20 {
  top: 432px;
  left: 681px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text21 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text22 {
  top: 217px;
  left: 150px;
  color: rgba(38, 38, 38, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text23 {
  color: rgba(38, 38, 38, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text24 {
  top: 217px;
  left: 643px;
  color: rgba(38, 38, 38, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text25 {
  color: rgba(38, 38, 38, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-profilepicture57915 {
  top: 371px;
  left: 148px;
  width: 107px;
  height: 99px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(217, 209, 213, 1);
}
.mac-book-pro16dashboard-silver-user57883-righthandside57917 {
  top: 383px;
  left: 280px;
  width: 226px;
  height: 76px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16dashboard-silver-user57883-text26 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text27 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text28 {
  color: rgba(239, 93, 168, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text29 {
  color: rgba(239, 93, 168, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text30 {
  top: 60px;
  left: 0px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text31 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text32 {
  color: rgba(192, 192, 192, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text33 {
  top: 29px;
  left: 0px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text34 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-svg {
  top: 811px;
  left: 148px;
  width: 392;
  height: 1px;
  position: absolute;
}
.mac-book-pro16dashboard-silver-user57883-svg1 {
  top: 899px;
  left: 148px;
  width: 392;
  height: 1px;
  position: absolute;
}
.mac-book-pro16dashboard-silver-user57883-image08 {
  top: 381px;
  left: 149px;
  width: 106px;
  height: 80px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16dashboard-silver-user57883-theme57931 {
  top: 514px;
  left: 839px;
  width: 597px;
  height: 53.87693786621094px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16dashboard-silver-user57883-image09 {
  top: 0px;
  left: 0px;
  width: 597px;
  height: 54px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: var(--dl-color-fuschia-1007b1b5);
}
.mac-book-pro16dashboard-silver-user57883-text35 {
  top: 9px;
  left: 236px;
  color: rgba(255, 255, 255, 1);
  width: 125px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-silver-user57883-text36 {
  color: rgba(255, 255, 255, 1);
  width: 125px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
