.mac-book-pro16dashboard-guest476-container {
  min-height: 100vh;
}
.mac-book-pro16dashboard-guest476-mac-book-pro16dashboard-guest476 {
  width: 1728px;
  height: 1117px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1728px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16dashboard-guest476-image {
  top: 0px;
  left: 0px;
  width: 1728px;
  height: 1117px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16dashboard-guest476-image1 {
  top: 36px;
  left: 0px;
  width: 1728px;
  height: 136px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16dashboard-guest476-text {
  top: 44px;
  left: 110px;
  color: rgba(38, 38, 38, 1);
  width: 423px;
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Pacifico;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text01 {
  color: rgba(38, 38, 38, 1);
  width: 423px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-downframe491 {
  top: 972px;
  left: 0px;
  width: 1728px;
  height: 145px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: var(--dl-color-fuschia-1007b1b5);
}
.mac-book-pro16dashboard-guest476-text02 {
  top: 121px;
  left: 12px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text03 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-image2 {
  top: 67px;
  left: 14px;
  width: 96px;
  height: 73px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16dashboard-guest476-navlink {
  display: contents;
}
.mac-book-pro16dashboard-guest476-signoutframe499 {
  top: 83px;
  left: 1633px;
  width: 48px;
  height: 64px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.mac-book-pro16dashboard-guest476-image3 {
  top: 0px;
  left: 3px;
  width: 41px;
  height: 41px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16dashboard-guest476-text04 {
  top: 50px;
  left: 0px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text05 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-image4 {
  top: 326px;
  left: 110px;
  width: 463px;
  height: 614px;
  position: absolute;
  object-fit: cover;
  border-color: rgba(205, 127, 50, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16dashboard-guest476-text06 {
  top: 865px;
  left: 496px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text07 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text08 {
  top: 779px;
  left: 481px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text09 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text10 {
  top: 508px;
  left: 148px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text11 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text15 {
  top: 484px;
  left: 150px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text16 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text17 {
  top: 779px;
  left: 148px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text19 {
  top: 865px;
  left: 148px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text20 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-image5 {
  top: 198px;
  left: 110px;
  width: 463px;
  height: 92px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16dashboard-guest476-playcard4125 {
  top: 526px;
  left: 1030px;
  width: 463px;
  height: 92px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: var(--dl-color-fuschia-1007b1b5);
}
.mac-book-pro16dashboard-guest476-text21 {
  top: 25px;
  left: 173px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text22 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text23 {
  top: 217px;
  left: 150px;
  color: rgba(38, 38, 38, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text24 {
  color: rgba(38, 38, 38, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-profilepicture4107 {
  top: 371px;
  left: 148px;
  width: 107px;
  height: 99px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(217, 209, 213, 1);
}
.mac-book-pro16dashboard-guest476-image6 {
  top: 12px;
  left: 12px;
  width: 82px;
  height: 76px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16dashboard-guest476-righthandside4113 {
  top: 383px;
  left: 280px;
  width: 201px;
  height: 76px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16dashboard-guest476-text25 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text26 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text27 {
  top: 60px;
  left: 0px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text28 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text29 {
  color: rgba(205, 127, 50, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text30 {
  top: 29px;
  left: 0px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-text31 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16dashboard-guest476-svg {
  top: 811px;
  left: 148px;
  width: 392;
  height: 1px;
  position: absolute;
}
.mac-book-pro16dashboard-guest476-svg1 {
  top: 899px;
  left: 148px;
  width: 392;
  height: 1px;
  position: absolute;
}
