.mac-book-pro16play-gold4264-container {
  min-height: 100vh;
}
.mac-book-pro16play-gold4264-mac-book-pro16play-gold4264 {
  width: 1728px;
  height: 1117px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1728px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16play-gold4264-image {
  top: 0px;
  left: 0px;
  width: 1728px;
  height: 1117px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16play-gold4264-image1 {
  top: 36px;
  left: 0px;
  width: 1728px;
  height: 136px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16play-gold4264-text {
  top: 44px;
  left: 110px;
  color: rgba(38, 38, 38, 1);
  width: 423px;
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Pacifico;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text01 {
  color: rgba(38, 38, 38, 1);
  width: 423px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-downframe4269 {
  top: 972px;
  left: 0px;
  width: 1728px;
  height: 145px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: var(--dl-color-fuschia-1007b1b5);
}
.mac-book-pro16play-gold4264-text02 {
  top: 121px;
  left: 12px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text03 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-image2 {
  top: 67px;
  left: 14px;
  width: 96px;
  height: 73px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16play-gold4264-navlink {
  display: contents;
}
.mac-book-pro16play-gold4264-signoutframe4273 {
  top: 83px;
  left: 1633px;
  width: 48px;
  height: 64px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.mac-book-pro16play-gold4264-image3 {
  top: 0px;
  left: 3px;
  width: 41px;
  height: 41px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16play-gold4264-text04 {
  top: 50px;
  left: 0px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text05 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-leftdock4276 {
  top: 198px;
  left: 110px;
  width: 463px;
  height: 742px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.mac-book-pro16play-gold4264-image4 {
  top: 128px;
  left: 0px;
  width: 463px;
  height: 614px;
  position: absolute;
  object-fit: cover;
  border-color: rgba(255, 215, 0, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16play-gold4264-text06 {
  top: 667px;
  left: 386px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text07 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text08 {
  top: 581px;
  left: 371px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text09 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text10 {
  top: 310px;
  left: 38px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text11 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text12 {
  top: 286px;
  left: 40px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text13 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text14 {
  top: 581px;
  left: 38px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text15 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text16 {
  top: 667px;
  left: 38px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text17 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-image5 {
  top: 0px;
  left: 0px;
  width: 463px;
  height: 92px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16play-gold4264-text18 {
  top: 19px;
  left: 40px;
  color: rgba(38, 38, 38, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text19 {
  color: rgba(38, 38, 38, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-profilepicture4332 {
  top: 173px;
  left: 38px;
  width: 107px;
  height: 99px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(217, 209, 213, 1);
}
.mac-book-pro16play-gold4264-righthandside4335 {
  top: 185px;
  left: 170px;
  width: 273px;
  height: 76px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16play-gold4264-text20 {
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text21 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text22 {
  top: 60px;
  left: 0px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text23 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text24 {
  color: rgba(255, 215, 0, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text25 {
  top: 29px;
  left: 0px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text26 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-svg {
  top: 613px;
  left: 38px;
  width: 392;
  height: 1px;
  position: absolute;
}
.mac-book-pro16play-gold4264-svg1 {
  top: 701px;
  left: 38px;
  width: 392;
  height: 1px;
  position: absolute;
}
.mac-book-pro16play-gold4264-image6 {
  top: 184px;
  left: 55px;
  width: 73px;
  height: 85px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16play-gold4264-games4295 {
  top: 198px;
  left: 597px;
  width: 1085px;
  height: 742px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16play-gold4264-fightlistcard4296 {
  top: 3px;
  left: 0px;
  width: 351px;
  height: 739px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16play-gold4264-text27 {
  top: 358px;
  left: 161px;
  color: rgba(0, 0, 0, 1);
  width: 14px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text28 {
  color: rgba(0, 0, 0, 1);
  width: 14px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text29 {
  top: 27px;
  left: 97px;
  color: rgba(38, 38, 38, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text30 {
  color: rgba(38, 38, 38, 1);
  width: 159px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text31 {
  top: 315px;
  left: 138px;
  color: rgba(0, 0, 0, 1);
  width: 76px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text32 {
  color: rgba(0, 0, 0, 1);
  width: 76px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-playcard4301 {
  top: 631px;
  left: 54px;
  width: 228px;
  height: 47.49617004394531px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16play-gold4264-svg2 {
  width: 228;
  height: 47;
  position: absolute;
}
.mac-book-pro16play-gold4264-text33 {
  top: 13px;
  left: 89px;
  color: rgba(255, 255, 255, 1);
  width: 51px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text34 {
  color: rgba(255, 255, 255, 1);
  width: 51px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-k-z-z4304 {
  top: 3px;
  left: 734px;
  width: 351px;
  height: 739px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16play-gold4264-text35 {
  top: 358px;
  left: 161px;
  color: rgba(0, 0, 0, 1);
  width: 14px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text36 {
  color: rgba(0, 0, 0, 1);
  width: 14px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text37 {
  top: 27px;
  left: 73px;
  color: rgba(38, 38, 38, 1);
  width: 205px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text38 {
  color: rgba(38, 38, 38, 1);
  width: 205px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text39 {
  top: 315px;
  left: 138px;
  color: rgba(0, 0, 0, 1);
  width: 76px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text40 {
  color: rgba(0, 0, 0, 1);
  width: 76px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-playcard4309 {
  top: 632px;
  left: 62px;
  width: 228px;
  height: 47.49617004394531px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16play-gold4264-svg3 {
  width: 228;
  height: 47;
  position: absolute;
}
.mac-book-pro16play-gold4264-text41 {
  top: 13px;
  left: 89px;
  color: rgba(255, 255, 255, 1);
  width: 51px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text42 {
  color: rgba(255, 255, 255, 1);
  width: 51px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-mozgiccard4313 {
  top: 0px;
  left: 367px;
  width: 351px;
  height: 739px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16play-gold4264-text43 {
  top: 358px;
  left: 161px;
  color: rgba(0, 0, 0, 1);
  width: 14px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text44 {
  color: rgba(0, 0, 0, 1);
  width: 14px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text45 {
  top: 28px;
  left: 112px;
  color: rgba(38, 38, 38, 1);
  width: 128px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text46 {
  color: rgba(38, 38, 38, 1);
  width: 128px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text47 {
  top: 315px;
  left: 138px;
  color: rgba(0, 0, 0, 1);
  width: 76px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text48 {
  color: rgba(0, 0, 0, 1);
  width: 76px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-playcard4318 {
  top: 634px;
  left: 62px;
  width: 228px;
  height: 47.49617004394531px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16play-gold4264-svg4 {
  width: 228;
  height: 47;
  position: absolute;
}
.mac-book-pro16play-gold4264-text49 {
  top: 13px;
  left: 89px;
  color: rgba(255, 255, 255, 1);
  width: 51px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16play-gold4264-text50 {
  color: rgba(255, 255, 255, 1);
  width: 51px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
