.mac-book-pro16mozgic23201-container {
  min-height: 100vh;
}
.mac-book-pro16mozgic23201-mac-book-pro16mozgic23201 {
  width: 1728px;
  height: 1117px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1728px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16mozgic23201-image {
  top: 0px;
  left: 0px;
  width: 1728px;
  height: 1117px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-top23203 {
  top: 36px;
  left: 0px;
  width: 1728px;
  height: 136px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16mozgic23201-text {
  top: 8px;
  left: 110px;
  color: rgba(38, 38, 38, 1);
  width: 423px;
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Pacifico;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16mozgic23201-text1 {
  color: rgba(38, 38, 38, 1);
  width: 423px;
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16mozgic23201-image01 {
  top: 31px;
  left: 14px;
  width: 96px;
  height: 73px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-signoutframe23208 {
  top: 47px;
  left: 1633px;
  width: 48px;
  height: 64px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-navlink {
  display: contents;
}
.mac-book-pro16mozgic23201-image02 {
  top: 0px;
  left: 3px;
  width: 41px;
  height: 41px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-text2 {
  top: 50px;
  left: 0px;
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16mozgic23201-text3 {
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16mozgic23201-downframe23211 {
  top: 972px;
  left: 0px;
  width: 1728px;
  height: 145px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  background-color: var(--dl-color-fuschia-1007b1b5);
}
.mac-book-pro16mozgic23201-text4 {
  top: 121px;
  left: 12px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16mozgic23201-text5 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 400px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16mozgic23201-guesses23324 {
  top: 211px;
  left: 108px;
  width: 425px;
  height: 593px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-svg {
  width: 425;
  height: 593;
  position: absolute;
}
.mac-book-pro16mozgic23201-one-gues23355 {
  top: 461px;
  left: 50px;
  width: 328px;
  height: 66px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image03 {
  top: 0px;
  left: 0px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image04 {
  top: 0px;
  left: 84px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image05 {
  top: 0px;
  left: 168px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image06 {
  top: 0px;
  left: 255px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-one-gues23350 {
  top: 382px;
  left: 50px;
  width: 328px;
  height: 66px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image07 {
  top: 0px;
  left: 0px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image08 {
  top: 0px;
  left: 84px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image09 {
  top: 0px;
  left: 168px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image10 {
  top: 0px;
  left: 255px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-one-gues23345 {
  top: 231px;
  left: 50px;
  width: 328px;
  height: 138px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image11 {
  top: 72px;
  left: 0px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image12 {
  top: 72px;
  left: 84px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image13 {
  top: 72px;
  left: 168px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image14 {
  top: 72px;
  left: 255px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image15 {
  top: 0px;
  left: 255px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-one-gues23329 {
  top: 66px;
  left: 50px;
  width: 328px;
  height: 66px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image16 {
  top: 0px;
  left: 0px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image17 {
  top: 0px;
  left: 84px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image18 {
  top: 0px;
  left: 168px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image19 {
  top: 0px;
  left: 255px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-one-gues23330 {
  top: 145px;
  left: 50px;
  width: 328px;
  height: 66px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image20 {
  top: 0px;
  left: 0px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image21 {
  top: 0px;
  left: 84px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image22 {
  top: 0px;
  left: 168px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image23 {
  top: 0px;
  left: 255px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-one-gues23340 {
  top: 224px;
  left: 50px;
  width: 328px;
  height: 66px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image24 {
  top: 0px;
  left: 0px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image25 {
  top: 0px;
  left: 84px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image26 {
  top: 0px;
  left: 168px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image27 {
  top: 0px;
  left: 255px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image28 {
  top: 843px;
  left: 108px;
  width: 425px;
  height: 84px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16mozgic23201-image29 {
  top: 848px;
  left: 564px;
  width: 425px;
  height: 84px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: var(--dl-color-fuschia-1007b1b5);
}
.mac-book-pro16mozgic23201-text6 {
  top: 862px;
  left: 720px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Roboto;
  font-weight: 500px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16mozgic23201-text7 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 500px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro16mozgic23201-image30 {
  top: 0px;
  left: 255px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-results23360 {
  top: 211px;
  left: 158px;
  width: 831px;
  height: 707px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image31 {
  top: 0px;
  left: 406px;
  width: 425px;
  height: 593px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro16mozgic23201-one-gues23371 {
  top: 461px;
  left: 456px;
  width: 328px;
  height: 66px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image32 {
  top: 0px;
  left: 0px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image33 {
  top: 0px;
  left: 84px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image34 {
  top: 0px;
  left: 168px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image35 {
  top: 0px;
  left: 255px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-one-gues23376 {
  top: 382px;
  left: 456px;
  width: 328px;
  height: 66px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image36 {
  top: 0px;
  left: 0px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image37 {
  top: 0px;
  left: 84px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image38 {
  top: 0px;
  left: 168px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image39 {
  top: 0px;
  left: 255px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-one-gues23381 {
  top: 303px;
  left: 456px;
  width: 328px;
  height: 66px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image40 {
  top: 0px;
  left: 0px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image41 {
  top: 0px;
  left: 84px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image42 {
  top: 0px;
  left: 168px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image43 {
  top: 0px;
  left: 255px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-one-gues23386 {
  top: 66px;
  left: 456px;
  width: 328px;
  height: 66px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image44 {
  top: 0px;
  left: 0px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 215, 0, 1);
}
.mac-book-pro16mozgic23201-image45 {
  top: 0px;
  left: 84px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 215, 0, 1);
}
.mac-book-pro16mozgic23201-image46 {
  top: 0px;
  left: 168px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image47 {
  top: 0px;
  left: 255px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-one-gues23391 {
  top: 145px;
  left: 456px;
  width: 328px;
  height: 66px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image48 {
  top: 0px;
  left: 0px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: var(--dl-color-fuschia-1007b1b5);
}
.mac-book-pro16mozgic23201-image49 {
  top: 0px;
  left: 84px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: var(--dl-color-fuschia-1007b1b5);
}
.mac-book-pro16mozgic23201-image50 {
  top: 0px;
  left: 168px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 215, 0, 1);
}
.mac-book-pro16mozgic23201-image51 {
  top: 0px;
  left: 255px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-one-gues23396 {
  top: 224px;
  left: 456px;
  width: 328px;
  height: 66px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image52 {
  top: 0px;
  left: 0px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: var(--dl-color-fuschia-1007b1b5);
}
.mac-book-pro16mozgic23201-image53 {
  top: 0px;
  left: 84px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: var(--dl-color-fuschia-1007b1b5);
}
.mac-book-pro16mozgic23201-image54 {
  top: 0px;
  left: 168px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: var(--dl-color-fuschia-1007b1b5);
}
.mac-book-pro16mozgic23201-image55 {
  top: 0px;
  left: 255px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: var(--dl-color-fuschia-1007b1b5);
}
.mac-book-pro16mozgic23201-one-gues23401 {
  top: 641px;
  left: 0px;
  width: 328px;
  height: 66px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image56 {
  top: 0px;
  left: 0px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image57 {
  top: 0px;
  left: 84px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image58 {
  top: 0px;
  left: 168px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image59 {
  top: 0px;
  left: 255px;
  width: 73px;
  height: 66px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(252, 221, 236, 1);
}
.mac-book-pro16mozgic23201-image60 {
  top: 62px;
  left: 84px;
  width: 74px;
  height: 74px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-toolbox23409 {
  top: 211px;
  left: 413px;
  width: 745px;
  height: 593px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-svg1 {
  left: 613px;
  width: 132;
  height: 593;
  position: absolute;
}
.mac-book-pro16mozgic23201-image61 {
  top: 37px;
  left: 650px;
  width: 74px;
  height: 73px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image62 {
  top: 220px;
  left: 0px;
  width: 74px;
  height: 73px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image63 {
  top: 422px;
  left: 1055px;
  width: 74px;
  height: 74px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image64 {
  top: 277px;
  left: 158px;
  width: 74px;
  height: 74px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image65 {
  top: 519px;
  left: 1055px;
  width: 74px;
  height: 74px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image66 {
  top: 352px;
  left: 413px;
  width: 74px;
  height: 74px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image67 {
  top: 431px;
  left: 327px;
  width: 74px;
  height: 74px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image68 {
  top: 609px;
  left: 1055px;
  width: 74px;
  height: 74px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image69 {
  top: 696px;
  left: 1055px;
  width: 74px;
  height: 74px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image70 {
  top: 273px;
  left: 326px;
  width: 74px;
  height: 74px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image71 {
  top: 352px;
  left: 241px;
  width: 74px;
  height: 74px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image72 {
  top: 273px;
  left: 413px;
  width: 74px;
  height: 74px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image73 {
  top: 351px;
  left: 158px;
  width: 74px;
  height: 74px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image74 {
  top: 431px;
  left: 242px;
  width: 74px;
  height: 74px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image75 {
  top: 431px;
  left: 157px;
  width: 74px;
  height: 74px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image76 {
  top: 848px;
  left: 412px;
  width: 74px;
  height: 73px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image77 {
  top: 848px;
  left: 326px;
  width: 74px;
  height: 74px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image78 {
  top: 848px;
  left: 241px;
  width: 74px;
  height: 74px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image79 {
  top: 848px;
  left: 156px;
  width: 74px;
  height: 74px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image80 {
  top: 327px;
  left: 1058px;
  width: 74px;
  height: 74px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
.mac-book-pro16mozgic23201-image81 {
  top: 352px;
  left: 326px;
  width: 74px;
  height: 74px;
  position: absolute;
  object-fit: cover;
  border-color: transparent;
}
